.logo-container {
    width: 80px;
    height: 80px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    /* Light border */
    border-radius: 6px;
    /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensures the image stays inside the border */
    margin: 0 auto 10px;
    /* Center and add spacing */
}

/* Dotted Line using Pseudo-element */
.logo-col::after {
    content: "";
    position: absolute;
    /* left: 50%; */
    /* bottom: -10px; */
    /* Start just below the logo */
    transform: translateX(-50%);
    width: 2px;
    height: 10%;
    border-left: 2.5px dotted #ddd;
}

.logo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.company-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-wrapper::after {
    content: '';
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-image: linear-gradient(#949893 50%, transparent 50%);
    background-size: 1px 8px;
}

h4,
h5 {
    /* margin-bottom: 5px; */
}